<% content_for :head do %>
  <%= javascript_include_tag 'spree/custom_add_to_cart', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="taxon">
  <% if @taxon.children.present? %>
    <div class="container">
      <%= render 'spree/shared/taxonomies', taxons: @taxon.children.limit(8), title: @taxon.name %>
    </div>
  <% end %>
  <div class="container">
    <%= spree_breadcrumbs(@taxon) %>
    <%= render 'header', taxon: @taxon %>
  </div>
  <%= render 'subcategories', taxon: @taxon %>
  <div data-hook="taxon_products">
    <%= render template: 'spree/products/index', colors: @colors, sizes: @sizes %>
  </div>
</div>
