<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<%= link_to url, class: 'd-flex flex-column justify-content-between' do %>
  <% cache [common_product_cache_keys, product] do %>
    <div class="overflow-hidden d-flex align-items-center", style="min-height: 25rem; max-height: 25rem;">
      <%= plp_and_carousel_image(product, image_class) %>
    </div>
    <div>
      <div class="product-component-name" title="<%= product.name %>">
        <%= product.name %>
      </div>
      <div class="product-component-price"><%= display_price(product) %></div>
    </div>
  <% end %>
<% end %>
<div class="container-flex">
  <% stock_present = product.in_stock? %>
  <% if stock_present && product.variants.any? %>
    <%= link_to Spree.t(:select_variants), url, class: 'btn btn-outline-info w-100 my-2 text-truncate rounded' %>
  <% elsif stock_present  %>
    <%= button_tag Spree.t(:add_to_cart), class: 'btn btn-outline-primary quick-add-cart-button w-100 my-2 text-truncate rounded', data: { variant_id: product.master.id, variant_summary: Spree::VariantPresenter.new({ variants: product.variants, is_product_available_in_currency: !(product.price_in(current_currency).amount.nil?  || product.price_in(current_currency).amount.zero?), current_currency: current_currency, current_price_options: {} }).call.first.to_json, product_summary: Spree::ProductSummaryPresenter.new(product).call.to_json } %>
  <% else %>
    <%= button_tag Spree.t(:out_of_stock), class: 'btn btn-outline-danger w-100 my-2 fw-bold text-truncate rounded', disabled: true %>
  <% end %>
</div>